SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
BOT_TOKEN=
API_ID=
API_HASH=
GENIUS_ACCESS_TOKEN=
ADMIN_USER_IDS=
REQUIRED_CHANNELS=

# YouTube cookies: в YTDL_COOKIES вставь весь текст из cookies.txt (Netscape format), целиком.
# YTDL_COOKIES=

